@using AuthManagement.Shared
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <CustomAuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="misc-wrapper text-center">
                        <h2 class="mb-1 mx-2">Page Not Found :(</h2>
                        <p class="mb-4 mx-2">Sorry, there's nothing at this address.</p>
                        <a href="/" class="btn btn-primary mb-4">Back to home</a>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
